* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/23.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: #5E63B6; /* ตั้งค่าสีเริ่มต้นสำหรับข้อความ */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%; /* ปรับ padding ให้เป็น % เพื่อ responsive */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2.2em; /* ลดขนาด logo เล็กน้อย */
    color: #2D336B;
    user-select: none;
    font-weight: 900 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    position: relative;
    font-size: 1em;
    color: #2D336B;
    text-decoration: none;
    font-weight: 700;
    margin-left: 15px;
    padding: 8px 12px;
    transition: color 0.3s, transform 0.3s;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #2D336B;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover {
    color: #162938;
    transform: translateY(-2px);
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .logout {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #2D336B;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #2D336B;
    font-weight: 500;
    margin-left: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation .logout:hover {
    background: #2D336B;
    color: #fff;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navigation a,
    .navigation .logout {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }
}